@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primari-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color-dark: #2f303a;
  --secondary-background-color-light: #f5f4fa;
  --logo-black: #000000;
  --border-header-color: rgba(236, 236, 236, 100%);
  --border-cards-color: rgba(238, 238, 238, 100%);
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --border-client-color: rgba(175, 177, 184, 1);
  --linear-gradient-hero-color: rgba(47, 48, 58, 0.4);
  --primary-icon-color: #afb1b8;
  --background-icon-footer-color: rgba(255, 255, 255, 0.1);
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --background-hero: rgba(47, 48, 58, 1);
  --background-description-index: rgba(47, 48, 58, 0.8);
  --background-description-portfolio: rgba(33, 150, 243, 0.9);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --button-shadow: rgba(0, 0, 0, 0.15);
  --hero-placeholder-color: rgba(117, 117, 117, 0.5);
  --footer-placeholder-color: rgba(255, 255, 255, 0.6);
}

/*----------------------------- Палитра:-----------------------------
Цвет основного текста - #757575
Вторичный цвет текста -  #212121
Акцент - #2196F3
Белый цвет - #FFFFFF
Блый с прозрачностью - rgba(255, 255, 255, 0.6)
Вторичный цвет фона #2F303A
*/
body {
  color: var(--primary-text-color);
  background-color: var(--primari-white-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*----------------------------- Утилиты-----------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* .hidden {
  visibility: hidden;
} */
/* -----------------------------Social-icons -----------------------------*/
.social-networking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 206px;
}

.social-networking__item:not(:last-child) {
  margin-right: 10px;
}

.social-networking__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-icon-color);
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  /* transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.social-networking__link:hover,
.social-networking__link:focus {
  background-color: var(--accent-color);
  color: var(--primari-white-color);
}

.social-networking__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* .twitter {
  width: 20px;
  height: 16px;
}
.facebook {
  width: 10px;
  height: 20px;
} */
/*----------------------------- Header -----------------------------*/
/* -----------------------------Лого -----------------------------*/
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
}

.logo--black {
  color: var(--logo-black);
}

.logo--white {
  color: var(--primari-white-color);
}

/* -----------------------------Site nav -----------------------------*/
.page-header {
  position: relative;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-header-color);
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav .site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  color: var(--title-text-color);
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.site-nav__link:focus,
.site-nav__link:hover {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  bottom: -27px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-nav__item {
  fill: currentColor;
}

.contacts-nav__item:not(:last-child) {
  margin-right: 30px;
}

.contacts-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.contacts-nav__link:focus,
.contacts-nav__link:hover {
  color: var(--accent-color);
}

.contacts-nav__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts-nav__icon--thinner {
  width: 10px;
  height: 16px;
}

/* Аналогичные варианты предыдущего селектора */
/* .contacts-nav li:not(:last-child){
  margin-right: 50px; */
/* .contacts-nav .item + .item {
  margin-right: 50px;
} */
/* --------------------------Стили для index.html -----------------------*/
/*------------------------ Common sections style ------------------------*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--background-light {
  background-color: var(--secondary-background-color-light);
}

.section--without-padding-top {
  padding-top: 0px;
}

.section__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.button {
  padding: 10px 32px;
  color: var(--primari-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px var(--button-shadow);
          box-shadow: 0px 4px 4px var(--button-shadow);
}

/*----------------------------- Hero -----------------------------*/
.page-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--background-hero);
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--linear-gradient-hero-color)), to(var(--linear-gradient-hero-color))), url("../images/bcg-hero.jpg");
  background-image: linear-gradient(var(--linear-gradient-hero-color), var(--linear-gradient-hero-color)), url("../images/bcg-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.page-hero__title {
  margin-bottom: 30px;
  color: var(--primari-white-color);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-backdrop);
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px 39px 40px 41px;
  height: 581px;
  width: 528px;
  background-color: var(--primari-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form__group {
  margin-bottom: 20px;
}

.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.form__thumb {
  position: relative;
}

.form__input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function), outline 250ms var(--timing-function);
  transition: border 250ms var(--timing-function), outline 250ms var(--timing-function);
}

.form__input:hover {
  cursor: pointer;
}

.form__input:focus-visible {
  border: 1px solid #2196f3;
  outline: none;
}

.form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__comment {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__comment:focus-visible {
  border: 1px solid #2196f3;
  outline: none;
}

.form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--hero-placeholder-color);
}

.form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--hero-placeholder-color);
}

.form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--hero-placeholder-color);
}

.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--hero-placeholder-color);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox__input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  /* position: absolute; */
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.checkbox__icon {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  -webkit-transition: background-color, background-image, background-size, background-repeat, background-origin, border-color 250ms var(--timing-function);
  transition: background-color, background-image, background-size, background-repeat, background-origin, border-color 250ms var(--timing-function);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 10'%3E%3Cpath d='m1.957 4.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-color: transparent;
}

.checkbox__text {
  line-height: 1.71;
}

.checkbox__link {
  color: var(--accent-color);
}

.modal .button {
  padding: 10px 56px;
  cursor: pointer;
  /* margin-bottom: 40px; */
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  height: 30px;
  border: none;
  background-color: var(--primari-white-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.close:hover {
  color: var(--accent-color);
}

.close__icon {
  fill: currentColor;
}

/*----------------------------- Features -----------------------------*/
.section__title--without-margin {
  margin: 0px;
}

.feature-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-card__item:not(:last-child) {
  margin-right: 30px;
}

.feature-card__thumb {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color-light);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-card__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
}

.feature-card__text {
  line-height: 1.71;
  width: 270px;
}

/*----------------------------- Activities -----------------------------*/
.activities-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities-card__item:not(:last-child) {
  margin-right: 30px;
}

.activities-card__thumb {
  position: relative;
}

.activities-card__link {
  text-decoration: none;
}

.activities-card__label {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background-color: var(--background-description-index);
}

.activities-card__text {
  font-weight: 700;
  line-height: 1.14;
  color: var(--primari-white-color);
  text-transform: uppercase;
}

/* -----------------------------Team----------------------------- */
.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-card__item {
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--primari-white-color);
}

.team-card__meta {
  padding: 30px 32px;
}

.team-card__name {
  text-align: center;
}

.team-card__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

/* -----------------------------Client----------------------------- */
.client-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client-card__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-client-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-icon-color);
  -webkit-transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.client-card__link:hover,
.client-card__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-card__icon {
  fill: currentColor;
}

/* -----------------------------Footer ----------------------------- */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color-dark);
}

.page-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-contact {
  margin-right: 70px;
}

.adres-group__link {
  color: var(--secondary-white-color);
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.adres-group__link--white {
  color: var(--primari-white-color);
  line-height: 1.71;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.adres-group__link:focus,
.adres-group__link:hover {
  color: var(--accent-color);
}

.adres-group__item:not(:last-child) {
  margin-bottom: 9px;
}

.adres-group {
  margin-top: 20px;
}

.page-footer__text {
  display: block;
  margin-bottom: 20px;
  color: var(--primari-white-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.page-footer__social-networking .social-networking__link {
  background-color: var(--background-icon-footer-color);
  color: var(--primari-white-color);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.page-footer__social-networking .social-networking__link:hover,
.page-footer__social-networking .social-networking__link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  margin-left: auto;
}

.footer-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__input {
  margin-right: 12px;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-background-color-dark);
  color: var(--footer-placeholder-color);
}

.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-placeholder-color);
}

.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-placeholder-color);
}

.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-placeholder-color);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-placeholder-color);
}

.footer-form__text {
  display: block;
  margin-bottom: 20px;
  color: var(--primari-white-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form .button {
  padding: 10px 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

/* -----------------------Стили для portfolio.html -----------------------*/
/* -----------------------------Buttons----------------------------- */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color-light);
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--primari-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/*-------------------------- List of our works --------------------------*/
.cardset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardset__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition: border 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: border 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: border 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: border 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.cardset__item:nth-child(3n) {
  margin-right: 0px;
}

.cardset__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.cardset__meta {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.cardset__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cardset__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.cardset__link {
  text-decoration: none;
}

.cardset__link {
  display: block;
}

.cardset__link:focus,
.cardset__link:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.cardset__thumb {
  position: relative;
  overflow: hidden;
}

.cardset__overlay-text {
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primari-white-color);
}

.cardset__overlay {
  position: absolute;
  bottom: 0;
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  background-color: var(--background-description-portfolio);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  /* opacity: 0.5;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.cardset__item:hover .cardset__overlay,
.cardset__item:focus .cardset__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  /* opacity: 1; */
}
/*# sourceMappingURL=main.css.map */